$color-item: #fff;
$gray: #737373;
$color-two: #60d0c5;
$color-three: #26a69a;
$text-small: 0.8rem;

// Responsive (mobile first)
// XS: 480px | SM: 768px | MD: 992px | LG: 1200px
// --------------------------------------------------
$tablet: 768px;
$desctop: 1288px;


